force-app/main/default/flows/Custom_Candidate_Missing_Document_Reminder_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Empty_the_SingleMissingField</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_1.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>DefaultWorkflowUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Reminder: Missing Documents Submission</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>&lt;p&gt;{!EmailBodyMissingDocuments}&lt;/p&gt;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Aadhar_Card</name>
        <label>Add Aadhar Card</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MissingFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Aadhar Card</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pan_Card_DOC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_coma</name>
        <label>Add coma</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SingleMissingField</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_all_missing_field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Full_Stop</name>
        <label>Add Full Stop</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SingleMissingField</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_the_collection_variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Graduation</name>
        <label>Add Graduation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MissingFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Graduation Marksheet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_Grduation_DOC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Pan_Card</name>
        <label>Add Pan Card</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MissingFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>PAN Card</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Post_Graduation</name>
        <label>Add Post Graduation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MissingFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Post Graduation Marksheet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Aadhar_Card_DOC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Tenth</name>
        <label>Add Tenth</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MissingFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>10th Marksheet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Twelfth_DOC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_twelfth</name>
        <label>Add twelfth</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MissingFields</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>12th Marksheet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Graduation_DOC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_the_collection_variable</name>
        <label>Clear the collection variable</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>MissingFields</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>MissingFields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_Action_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_the_SingleMissingField</name>
        <label>Empty the SingleMissingField</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SingleMissingField</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Separate</name>
        <label>Get Separate fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>SingleMissingField</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_all_missing_field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_coma</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Aadhar_Card_DOC</name>
        <label>Aadhar Card DOC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Pan_Card_DOC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is Present</defaultConnectorLabel>
        <rules>
            <name>is_Missing4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Adhaar_Card__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Aadhar_Card</targetReference>
            </connector>
            <label>is Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_7</name>
        <label>has any Missing Fields</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MissingFields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_missing_field</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Graduation_DOC</name>
        <label>Graduation DOC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Post_Grduation_DOC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is Present</defaultConnectorLabel>
        <rules>
            <name>is_Missing2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Graduation_Marksheet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Graduation</targetReference>
            </connector>
            <label>is Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pan_Card_DOC</name>
        <label>Pan Card DOC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is Present</defaultConnectorLabel>
        <rules>
            <name>is_Missing5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.PAN__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Pan_Card</targetReference>
            </connector>
            <label>is Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_Grduation_DOC</name>
        <label>Post Grduation DOC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Aadhar_Card_DOC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is Present</defaultConnectorLabel>
        <rules>
            <name>is_Missing3</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Post_Graduation_Marksheet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.Candidate_Details__r.Highest_Qualification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MBA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.Candidate_Details__r.Highest_Qualification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_1.Candidate_Details__r.Highest_Qualification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M.Tech</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Post_Graduation</targetReference>
            </connector>
            <label>is Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tenth_DOC</name>
        <label>Tenth DOC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Twelfth_DOC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_Missing7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Tenth_Marksheet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Tenth</targetReference>
            </connector>
            <label>is Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Twelfth_DOC</name>
        <label>Twelfth DOC</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Graduation_DOC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>is Present</defaultConnectorLabel>
        <rules>
            <name>is_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_1.Twefth_Marksheet__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_twelfth</targetReference>
            </connector>
            <label>is Missing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Missing Document Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom - Candidate Missing Document Reminder Notification</label>
    <loops>
        <name>Get_all_missing_field</name>
        <label>Get all missing field</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>MissingFields</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Separate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Add_Full_Stop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_all_missing_Documents_Submitted</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Tenth_DOC</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_missing_Documents_Submitted</name>
        <label>Get all missing Documents Submitted</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Twefth_Marksheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Graduation_Marksheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Post_Graduation_Marksheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Adhaar_Card__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PAN__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tenth_Marksheet__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Documents_Submitted__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_missing_Documents_Submitted</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-08-22</startDate>
            <startTime>14:50:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyMissingDocuments</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Loop_1.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hope this mail finds you well,&lt;/p&gt;&lt;p&gt;We noticed that you have not submitted the following document(s)--&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(28, 105, 58);&quot;&gt;{!SingleMissingField}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please upload the above document(s) at your earliest convenience.&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;https://cunning-moose-vhsu35-dev-ed.trailblaze.my.site.com/s/document-submission&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;strong&gt;Click here to Submit&lt;/strong&gt;&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Warm regards,&lt;/p&gt;&lt;p&gt;Recruitment Team,&lt;/p&gt;&lt;p&gt;DVMSKE Pvt. Ltd.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you face any issues uploading the documents, reply to this email or contact our support team at&amp;nbsp;&lt;a href=&quot;mailto:hr@dvmske.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(7, 135, 86);&quot;&gt;hr@dvmske.com&lt;/a&gt;.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;This is an automated message — please do not reply to the sender address.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>MissingFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleMissingField</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
