force-app/main/default/flows/Custom_Email_Alert_for_Expert_Candidate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Document</name>
        <label>Send Document Submission Mail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Interview__c.Document_Submission</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Interview__c.Document_Submission</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_HR</name>
        <label>Send HR Mail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Interview__c.Round_3_of_Interview</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Change_status_to_InProgress</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Interview__c.Round_3_of_Interview</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_Mail</name>
        <label>Send Rejection Mail</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Interview__c.Interview_Rejection</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Status_Update_to_Rejected</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Interview__c.Interview_Rejection</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Alerts_and_Status</name>
        <label>Alerts and Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Status_Update_to_Rescheduled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>R3_mail_when_date_decided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_and_Time_R3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Interview_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_HR</targetReference>
            </connector>
            <label>R3 mail when date decided</label>
        </rules>
        <rules>
            <name>Status_update_and_Document_Submission</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round3_HR_Interview__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update</targetReference>
            </connector>
            <label>Status update and Document Submission</label>
        </rules>
        <rules>
            <name>Rejection_Mail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round3_HR_Interview__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Rejection_Mail</targetReference>
            </connector>
            <label>Rejection Mail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Custom - Email Alert for Expert Candidate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom - Email Alert for Expert Candidate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Change_status_to_InProgress</name>
        <label>Change status to InProgress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Round3_HR_Interview__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Update_to_Rejected</name>
        <label>Status Update to Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Interview_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Update_to_Rescheduled</name>
        <label>Status Update to Rescheduled</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Interview_Status__c</field>
            <value>
                <stringValue>Rescheduled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update</name>
        <label>Update Status to Selected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Updated_Candidate_Status_to_Interview_Clear</targetReference>
        </connector>
        <inputAssignments>
            <field>Interview_Status__c</field>
            <value>
                <stringValue>Selected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Candidate_Status_to_Interview_Clear</name>
        <label>Updated Candidate Status to Interview - Clear</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Document</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Converted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Candidate__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Alerts_and_Status</targetReference>
        </connector>
        <filterLogic>( 1 OR 2 OR 3 )AND 4</filterLogic>
        <filters>
            <field>Interview_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Interview_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Selected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Interview_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rescheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Interview_Rounds__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>Interview__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
