force-app/main/default/flows/Custom_Create_BGV_Record_when_DS_is_approved.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_task_for_assigner</name>
        <label>Create task for assigner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Post_Graduate</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Documents Submitted Records Assign</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Assigned_to__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>document_assignment_done</name>
        <label>document assignment done</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Post_Graduate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Assigned_to__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_to__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_task_for_assigner</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Post_Graduate</name>
        <label>Post Graduate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>is_there</name>
            <conditionLogic>( 1 OR 2 OR 3 ) AND( 4 AND 5 )</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Candidate_Details__r.Highest_Qualification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MBA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Candidate_Details__r.Highest_Qualification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Candidate_Details__r.Highest_Qualification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>M.Tech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quality_Check__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quality_Check__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Background_Verification_with_post_Graduation</targetReference>
            </connector>
            <label>is there</label>
        </rules>
        <rules>
            <name>isn_t_there</name>
            <conditionLogic>( 1 OR 2 OR 3 OR 4 ) AND (5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Candidate_Details__r.Highest_Qualification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BBA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Candidate_Details__r.Highest_Qualification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Candidate_Details__r.Highest_Qualification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B.Tech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Candidate_Details__r.Highest_Qualification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quality_Check__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quality_Check__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Background_Verification_without_post_Graduation</targetReference>
            </connector>
            <label>isn&apos;t there</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BGV_Name</name>
        <dataType>String</dataType>
        <expression>&quot;BackGroundVerification - &quot; +  {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>Today() + 3</expression>
    </formulas>
    <interviewLabel>Custom - Create BGV Record when DS is approved {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom - Create BGV Record when DS is approved</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Background_Verification_with_post_Graduation</name>
        <label>Create Background Verification with post Graduation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Candidates_Status_to_BGV_Started</targetReference>
        </connector>
        <inputAssignments>
            <field>Aadhar_Card_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>$Record.Candidate_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Documents_Submitted__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experience_Letter_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Graduation_Marksheet_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BGV_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pan_Card__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Post_Graduation_Marksheet_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tenth_Marksheet_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Twelfth_Marksheet_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Background_Verification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Background_Verification_without_post_Graduation</name>
        <label>Create Background Verification without post Graduation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Copy_1_of_Update_Candidates_Status_to_BGV_Started</targetReference>
        </connector>
        <inputAssignments>
            <field>Aadhar_Card_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>$Record.Candidate_Details__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Documents_Submitted__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Experience_Letter_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Graduation_Marksheet_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>BGV_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pan_Card__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tenth_Marksheet_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Twelfth_Marksheet_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Background_Verification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Copy_1_of_Update_Candidates_Status_to_BGV_Started</name>
        <label>Copy 1 of Update Candidates Status to BGV - Started</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>BGV- Stared</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Candidate_Details__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Candidates_Status_to_BGV_Started</name>
        <label>Update Candidates Status to BGV - Started</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>BGV- Stared</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Candidate_Details__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>document_assignment_done</targetReference>
        </connector>
        <object>Documents_Submitted__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
