force-app/main/default/flows/Custom_Create_task_when_documents_get_submit_or_update_main.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Create_Task_for_12th</name>
        <label>Task for Graduation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_BGV_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Graduation Marksheet has been uploaded on Document Submitted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Get_BGV_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_BGV_record.Assigned_Verifier__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_2_of_Create_Task_for_12th</name>
        <label>Task for Post</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_BGV_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Post Graduation Marksheet has been uploaded on Document Submitted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Get_BGV_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_BGV_record.Assigned_Verifier__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_3_of_Create_Task_for_12th</name>
        <label>Task for Adhaar card</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_BGV_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Adhaar card has been uploaded on Document Submitted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Get_BGV_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_BGV_record.Assigned_Verifier__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_4_of_Create_Task_for_12th</name>
        <label>Task for experience letter</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_BGV_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Experience Letter has been uploaded on Document Submitted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Get_BGV_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_BGV_record.Assigned_Verifier__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Copy_5_of_Create_Task_for_12th</name>
        <label>Task for pan card</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_BGV_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Pan Card has been uploaded on Document Submitted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Get_BGV_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_BGV_record.Assigned_Verifier__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Task_for_12th</name>
        <label>Task for Graduation</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>Get_BGV_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>12th Marksheet has been uploaded on Document Submitted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>Get_BGV_record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>Get_BGV_record.Assigned_Verifier__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Status</name>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Documents_uploaded_are</name>
        <label>Documents uploaded are</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Twelfth_MS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Twefth_Marksheet__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task_for_12th</targetReference>
            </connector>
            <label>Twelfth MS</label>
        </rules>
        <rules>
            <name>Graduation_Marksheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Graduation_Marksheet__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Task_for_12th</targetReference>
            </connector>
            <label>Graduation Marksheet</label>
        </rules>
        <rules>
            <name>Post_Graduation_Marksheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Id</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Create_Task_for_12th</targetReference>
            </connector>
            <label>Post Graduation Marksheet</label>
        </rules>
        <rules>
            <name>Adhaar_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Adhaar_Card__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Create_Task_for_12th</targetReference>
            </connector>
            <label>Adhaar Card</label>
        </rules>
        <rules>
            <name>Experience_Letter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Experience_Letter__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Create_Task_for_12th</targetReference>
            </connector>
            <label>Experience Letter</label>
        </rules>
        <rules>
            <name>Pan_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PAN__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Create_Task_for_12th</targetReference>
            </connector>
            <label>Pan Card</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 2</expression>
    </formulas>
    <interviewLabel>Custom - Create task when documents get submit or update main {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom - Create task when documents get submit or update main</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_BGV_record</name>
        <label>Get BGV record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Documents_uploaded_are</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Documents_Submitted__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Background_Verification__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_BGV_record</targetReference>
        </connector>
        <object>Documents_Submitted__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
