force-app/main/default/flows/Custom_Email_Alert_for_Fresher_Candidate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Document_Submission_Email</name>
        <label>Send Document Submission Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Interview__c.Document_Submission</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Interview__c.Document_Submission</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Rejection_Email</name>
        <label>Send Rejection Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Interview__c.Interview_Rejection</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_Status_Rejected</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Interview__c.Interview_Rejection</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Round_1_Email</name>
        <label>Send Round 1 Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Interview__c.Round_1_of_Interview</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Change_Status_to_InProgress</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Interview__c.Round_1_of_Interview</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Round_2_Email</name>
        <label>Send Round 2 Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Interview__c.Round_2_of_Interview</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Change_Status_to_InProgress2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Interview__c.Round_2_of_Interview</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Round_3_Email</name>
        <label>Send Round 3 Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Interview__c.Round_3_of_Interview</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Change_Status_to_InProgress3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Interview__c.Round_3_of_Interview</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Alerts_and_Status_update</name>
        <label>Alerts and Status update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Reschedule_interview_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>R1_mail_when_date_decided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_and_Time_R1__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Round2_Technical_Interview__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Round3_HR_Interview__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_and_Time_R2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_and_Time_R3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Round_1_Email</targetReference>
            </connector>
            <label>R1 mail when date decided</label>
        </rules>
        <rules>
            <name>R2_mail_R1_is_passed_and_date_decided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_and_Time_R2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Round_1_Coding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Round3_HR_Interview__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_and_Time_R3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_and_Time_R1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Round_2_Email</targetReference>
            </connector>
            <label>R2 mail, R1 is passed and date decided</label>
        </rules>
        <rules>
            <name>R3_mail_R1_R2_pass_and_date_decided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Date_and_Time_R3__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Round_1_Coding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Round2_Technical_Interview__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_and_Time_R1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Date_and_Time_R3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Round_3_Email</targetReference>
            </connector>
            <label>R3 mail, R1-R2 pass and date decided</label>
        </rules>
        <rules>
            <name>Status_Selected_after_passing_all_rounds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round_1_Coding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Round2_Technical_Interview__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Round3_HR_Interview__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pass</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Interview_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scheduled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updated_Candidate_Status_to_Interview_Clear</targetReference>
            </connector>
            <label>Status Selected after passing all rounds</label>
        </rules>
        <rules>
            <name>Rejection_mail_if_fail_anyone</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Round_1_Coding__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Round2_Technical_Interview__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Round3_HR_Interview__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Rejection_Email</targetReference>
            </connector>
            <label>Rejection mail if fail anyone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Custom - Email Alert for Fresher Candidate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom - Email Alert for Fresher Candidate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Change_Status_to_InProgress</name>
        <label>Change Status to InProgress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Round_1_Coding__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Status_to_InProgress2</name>
        <label>Change Status to InProgress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Round2_Technical_Interview__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Change_Status_to_InProgress3</name>
        <label>Change Status to InProgress</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Round3_HR_Interview__c</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Reschedule_interview_status</name>
        <label>Reschedule interview status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Interview_Status__c</field>
            <value>
                <stringValue>Rescheduled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Status_Rejected</name>
        <label>Update Status - Rejected</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Interview_Status__c</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Updated_Candidate_Status_to_Interview_Clear</name>
        <label>Updated Candidate Status to Interview - Clear</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Document_Submission_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed - Converted</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Candidate__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Alerts_and_Status_update</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND 4</filterLogic>
        <filters>
            <field>Interview_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Interview_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Selected</stringValue>
            </value>
        </filters>
        <filters>
            <field>Interview_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rescheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Interview_Rounds__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <object>Interview__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
