force-app/main/default/flows/Daily_Notice_Period_Decrement.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_recruitment_team</name>
        <label>Notify recruitment team</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Employer__c.Notice_Period_Reminder_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Loop_Through_employer_with_1_2_day</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Loop_Through_employer_with_1_2_day.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Employer__c.Notice_Period_Reminder_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Updated_List</name>
        <label>Add to Updated List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEmployers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Employers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Employers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_1_from_Notice_Period</name>
        <label>Subtract 1 from Notice Period</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Employers.Notice_Period_Days__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Updated_List</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Daily Notice Period Decrement {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Custom - Daily Notice Period Decrement</label>
    <loops>
        <name>Loop_Through_employer_with_1_2_day</name>
        <label>Loop Through employer with 1 -2 day</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_employer_with_Notice_Period_as_1</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Notify_recruitment_team</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Through_Employers</name>
        <label>Loop Through Employers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Employers_with_Notice_Period</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Subtract_1_from_Notice_Period</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All_Modified_Employers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_employer_with_Notice_Period_as_1</name>
        <label>Get employer with Notice Period as 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_employer_with_1_2_day</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Notice_Period_Days__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employers_with_Notice_Period</name>
        <label>Get Employers with Notice Period</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Employers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notice_Period_Days__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All_Modified_Employers</name>
        <label>Update All Modified Employers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_employer_with_Notice_Period_as_1</targetReference>
        </connector>
        <inputReference>UpdatedEmployers</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employers_with_Notice_Period</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Notice_Period_Days__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Employer__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-09-08</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>UpdatedEmployers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employer__c</objectType>
    </variables>
</Flow>
